@media (prefers-color-scheme: dark) {
    body {
        margin-top: 3em;
        background-color: #2c2c2c !important;
        color: white;
    }

    input,
    .label {
        background-color: #6f6f6f !important;
    }

    input::selection {
        background-color: #5684aa !important;
        color: white;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    label,
    .header,
    input,
    .label {
        color: rgba(255, 255, 255, .87) !important;
    }

    .ui.green.button {
        background-color: #4d9d6a !important;
    }

    .ui.primary.button {
        background-color: #5684aa !important;
    }

    a {
        color: white !important;
        text-decoration: underline !important;
        font-weight: bold;
    }

    .message {
        background-color: #575757 !important;
        color: rgba(255, 255, 255, .87) !important;
    }
}

@media (prefers-color-scheme: light) {
    /* these are left here for reference */
    /* body {
        margin-top: 3em;
        color: unset;
        background-color: unset !important;
    }

    input,
    .label {
        background-color: unset !important;
    }

    .ui.green.button {
        background-color: #21ba45 !important;
    }

    .ui.primary.button {
        background-color: #2185d0 !important;
    }

    a {
        color: #1e70bf !important;
    }

    input::selection {
        background-color: unset;
        color: unset;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    label,
    .header,
    input,
    .label {
        color: unset;
    }

    .message {
        background-color: #f8f8f9 !important;
        color: unset;
    } */
}

.footer-spacer {
    margin-top: 3em !important;
}

.w-100 {
    width: 100%;
}

.dual-btn-input {
    border-radius: 0px !important;
}

.mr-0 {
    margin-right: 0px !important;
}

.modal-position-sticky {
    top: 25%;
    position: sticky;
}

.topmost-row {
    margin-top: 15px;
}