<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Diceware Password Generator</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.min.css.gz">
</head>

<body>
    <h1>Diceware Password Generator</h1>
    <h3>Generates secure passwords that meet most site requirements</h3>
    {{ if .failed }}
    <p>
        The password generation settings you chose did not produce a result in a timely fashion, or
        there was a network error.
    </p>
    <p>
        To prevent abuse of this free service, <b>any password generation requests that take longer than
            <u>one second</u> will be canceled.</b> Try different settings, such as reducing the number
        of words, or increasing the minimum password length.
    </p>
    {{ end }}

    <form action="/min" method="post" id="pwform" target="_self">
        <p>
            <label for="s">Separator (space=default)</label>
            <input id="s" name="s" type="text" form="pwform" placeholder="" value="{{ .s }}">
        </p>
        <p>
            <label for="n">Number of Words</label>
            <input id="n" name="n" type="number" form="pwform" placeholder="" value="{{ .nn }}" min="1" max="20">
        </p>
        <p>
            <label for="u">Max Length</label>
            <input id="u" name="u" type="number" form="pwform" placeholder="" value="{{ .maxLenInt }}" min="12"
                max="256">
        </p>
        <p>
            <label for="l">Min Length</label>
            <input id="l" name="l" type="number" form="pwform" placeholder="" value="{{ .minLenInt }}" min="6"
                max="192">
        </p>
        <p>
            <input id="e" name="e" type="checkbox" form="pwform" {{ if .e }}checked{{ end }} />
            <label for="e">Use Extended Word List</label>
        </p>
        <button type="submit" style="width: 600px;" form="pwform">
            Generate
        </button>
    </form>

    <p>
        <input type="text" style="width: 600px;" value="{{ .pw }}" style="cursor: pointer;"
            placeholder="Try different settings" readonly>
    </p>

    <p>
        Currently generated password length: <span>{{ .pwLength }}</span>
    </p>
    <span>{{ .simpleWordCount }}</span>&nbsp;words in <a href="https://github.com/ulif/diceware"
        rel="noopener noreferrer nofollow">simple list</a>,
    <span>{{ .extendedWordCount }}</span>&nbsp;words in <a
        href="https://github.com/dwyl/english-words/blob/master/words_alpha.txt"
        rel="noopener noreferrer nofollow">extended list</a>
    <h4>About & Privacy</h4>
    <p>
        I absolutely do not store any passwords that are generated, or any data about you at all.
        Note that your data travels across many different parts of a global network when interacting
        with any site, so I cannot guarantee that your data is 100% secure.
    </p>
    <p>
        <b>Note that the actual password generation does not occur in your browser</b>. The password
        is generated on my server and then sent to you. If this does not fit within your threat
        model, do not use this site. I want to re-emphasize that I do not store any generated
        passwords anywhere, but please use password generation software responsibly, according to
        your needs.
    </p>
    <p>
        Word lists used by this application may differ from the linked upstream sources.
    </p>
    <p>
        Password generation requests that take longer than 1 second will be canceled.
    </p>
    <p>
        This software is released under the GNU Affero General Public License 3.0 or later. <a
            href="https://gitea.cmcode/cmcode/diceware-site" rel="noopener noreferrer nofollow">View
            the source code and license here.</a>
    </p>
    <p>
        <a href="/nojs" target="_self">NoJS version</a> |
        <a href="/min" target="_self">Minimalist version</a> |
        <a href="/" target="_self">Full version</a>
    </p>
</body>

</html>