<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Diceware Password Generator</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.min.css.gz">
    <link rel="stylesheet" type="text/css" href="/static/semantic-2.9.2.min.css.gz">
</head>

<body>
    <div class="ui grid container">
        <div class="row topmost-row">
            <div class="column">
                <h1 class="ui center aligned header">Diceware Password Generator</h1>
                <h3 class="ui center aligned header">Generates secure passwords that meet most site requirements</h3>
            </div>
        </div>
        {{ if .failed }}
        <div class="row">
            <div class="column">
                <p>
                    The password generation settings you chose did not produce a result in a timely fashion, or
                    there was a network error.
                </p>
                <p>
                    To prevent abuse of this free service, <b>any password generation requests that take longer than
                        <u>one second</u> will be canceled.</b> Try different settings, such as reducing the number
                    of words, or increasing the minimum password length.
                </p>
            </div>
        </div>
        {{ end }}
        <div class="center aligned row">
            <div class="column">
                <div class="ui right action input w-100{{ if .failed }} error{{ end }}">
                    <input type="text" class="dual-btn-input" value="{{ .pw }}" placeholder="Try different settings">
                </div>
            </div>
        </div>
        <form action="/nojs" method="post" id="pwform" target="_self" style="width: 100%;">
            <div class="row">
                <div class="column">
                    <button type="submit" form="pwform" class="ui w-100 green button gen-btn-left-margin">
                        <!--<i class="redo icon mr-0"></i>--><span class="mr-0">Generate</span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="ui fluid form">
                        <div class="fields">
                            <div class="field">
                                <label for="s">Separator (space=default)</label>
                                <input id="s" name="s" type="text" form="pwform" placeholder="" value="{{ .s }}">
                            </div>
                            <div class="field">
                                <label for="n">Number of Words</label>
                                <input id="n" name="n" type="number" form="pwform" placeholder="" value="{{ .nn }}"
                                    min="1" max="20">
                            </div>
                            <div class="field">
                                <label for="u">Max Length</label>
                                <input id="u" name="u" type="number" form="pwform" placeholder=""
                                    value="{{ .maxLenInt }}" min="12" max="256">
                            </div>
                            <div class="field">
                                <label for="l">Min Length</label>
                                <input id="l" name="l" type="number" form="pwform" placeholder=""
                                    value="{{ .minLenInt }}" min="6" max="192">
                            </div>
                            <div class="field ui toggle checkbox" style="display: flex; align-items: center;">
                                <input id="e" name="e" type="checkbox" form="pwform" {{ if .e }}checked{{ end }} />
                                <label for="e">Use Extended Word List</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="eight wide column">
                <div class="ui label">
                    Currently generated password length: <span>{{ .pwLength }}</span>
                </div>
            </div>
            <div class="eight wide column">
                <div class="ui label">
                    <span>{{ .simpleWordCount }}</span>&nbsp;words in <a href="https://github.com/ulif/diceware"
                        rel="noopener noreferrer nofollow">simple list</a>,
                    <span>{{ .extendedWordCount }}</span>&nbsp;words in <a
                        href="https://github.com/dwyl/english-words/blob/master/words_alpha.txt"
                        rel="noopener noreferrer nofollow">extended list</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui message">
                    <h1 class="ui header">What is diceware?</h1>
                    <p><a href="https://en.wikipedia.org/wiki/Diceware" target="_blank"
                            rel="noopener noreferrer nofollow">Diceware (wikipedia)</a>-based password generation is
                        part of a method of generating passwords that was popularized by a <a
                            href="https://xkcd.com/936/" rel="noopener noreferrer nofollow" target="_blank">popular XKCD
                            comic from 2011</a>.<br />
                        The concept is simple: Generate long, secure, easily accessible passwords by sticking a few
                        randomly chosen dictionary words together.<br />
                    </p>
                    <h1 class="ui header">What does this website do for me?</h1>
                    <p>
                        Nowadays, most websites have somewhat awkward password requirements, such as:
                    <ul>
                        <li>At least one lowercase character</li>
                        <li>At least one uppercase character</li>
                        <li>At least one number</li>
                        <li>At least one symbol/special character</li>
                        <li>A minimum length</li>
                        <li>Or sometimes, a <i>maximum</i> length <i>(some services don't allow more
                                than 8-12 characters for passwords)</i></li>
                    </ul>
                    </p>
                    <p>
                        So, based on the XKCD comic and the basic principle of diceware, a typical random password might
                        be:
                    </p>
                    <h3 class="ui center aligned header">reroute reformist vicinity</h3>
                    <p>
                        But you'll quickly note that this password does not meet password requirements for most
                        websites! There are no numbers, uppercase characters, or special characters.
                    </p>
                    <p>
                        So, this website <i>resolves</i> this problem by taking a simple approach: Appending a number
                        and one easy-to-type special character to the end of the password. You can customize the maximum
                        length of the password, as well as the separator used between each word in the password (some
                        websites may not allow spaces, for example).
                    </p>
                    <h1 class="ui header">How <i>should</i> passwords work for me?</h1>
                    <p>
                        Your passwords should, ideally, be:
                    <ul>
                        <li><i>long</i> enough to ensure they cannot be easily brute-force guessed (32-128 characters
                            length; most allow 64 without issue)</li>
                        <li><i>random</i> enough to, <i>at the very least</i>, ensure uniqueness amongst yours and other
                            leaked passwords
                        </li>
                        <li>and <i>easily accessible</i>, otherwise you might give up and default to repeatedly using a
                            small set of only a few easily memorable, short, and likely insecure passwords that your
                            brain can remember.</li>
                    </ul>
                    The last bullet point about having <i>easily accessible</i> passwords is very important. This is
                    typically the biggest challenge when it comes to password security, as it requires <b>you</b> to
                    test different password storage and entry mechanisms until you find something that works.
                    </p>
                    <h1 class="ui header">How do I make my secure passwords easily accessible?</h1>
                    <p>
                        I recommend using a password manager, as do many modern security experts - a popular option is
                        Bitwarden, but there are other password manager services:
                    <ul>
                        <li><a href="https://bitwarden.com/" rel="noopener noreferrer nofollow"
                                target="_blank">Bitwarden</a>
                        </li>
                        <li><a href="https://1password.com/" rel="noopener noreferrer nofollow"
                                target="_blank">1Password</a>
                        </li>
                    </ul>
                    You can also use a self-contained password storage utility called KeePass (or KeePassXC), which
                    keeps all of your passwords contained in a single <code>.kdbx</code> file. This is a desirable
                    method (even though it's more involved), because you can use an open source KeePass client
                    called <a href="https://keeweb.info/" rel="noopener noreferrer nofollow" target="_blank">KeeWeb</a>
                    to store passwords in a file located in Google Drive, Teams, OneDrive, Dropbox, a WebDAV server, a
                    local file, or other options. For iOS, you can use <a href="https://strongboxsafe.com/"
                        rel="noopener noreferrer nofollow" target="_blank">Strongbox</a> to access your
                    <code>.kdbx</code> file and enter your secure passwords.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="ui inverted vertical footer segment footer-spacer">
        <div class="ui container">
            <div class="ui stackable inverted divided equal height stackable grid">
                <div class="center row">
                    <div class="sixteen wide column">
                        <h4 class="ui inverted header">About & Privacy</h4>
                        <p>
                            I absolutely do not store any passwords that are generated, or any data about you at all.
                            Note that your data travels across many different parts of a global network when interacting
                            with any site, so I cannot guarantee that your data is 100% secure.
                        </p>
                        <p>
                            <b>Note that the actual password generation does not occur in your browser</b>. The password
                            is generated on my server and then sent to you. If this does not fit within your threat
                            model, do not use this site. I want to re-emphasize that I do not store any generated
                            passwords anywhere, but please use password generation software responsibly, according to
                            your needs.
                        </p>
                        <p>
                            I chose to write a server-side API to generate passwords so that I could support
                            arbitrarily large word lists without requiring users to consume a large amount of network
                            bandwidth to simply generate a password. If I hadn't done this, it would require you to
                            download a few megabytes of data each time you visit the site (with caching, this can be
                            reduced to perhaps once per day or less). For individuals that are on a metered plan, this
                            is not desirable, and it is also not desirable for me to host this data (as I get billed
                            for network traffic). Additionally, I do not want users to make API requests to <b>any</b>
                            third-party services in order to download the word lists upon visiting the site either - so
                            this is what informed my decision to generate passwords server-side.
                        </p>
                        <p>
                            Word lists used by this application may differ from the linked upstream sources.
                        </p>
                        <p>
                            Password generation requests that take longer than 1 second will be canceled.
                        </p>
                        <p>
                            This software is released under the GNU Affero General Public License 3.0 or later. <a
                                href="https://gitea.cmcode/cmcode/diceware-site" rel="noopener noreferrer nofollow">View
                                the source code and license here.</a>
                        </p>
                        <p>
                            <a href="/nojs" target="_self">NoJS version</a> |
                            <a href="/min" target="_self">Minimalist version</a> |
                            <a href="/" target="_self">Full version</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>